
$secondary: #1E1E1E;


html,body {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    background-image: url('../images/bg.jpg');
    background-color: black;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    
    a{
        text-decoration: none;
        color: aliceblue;
    }

    .profile{
        padding-top: 7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            max-height: 8em;
            max-width: 8em;
            border-radius: 15em;
        }
        h2{
            font-size: 1.5em;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        gap: 2em;
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            .logo{
                display: flex;
                height: 50px;
                width: 70px;
                background-color: rgba(50, 50, 50, 0.5);
                backdrop-filter: blur(2px);
                border-radius:25px 0px 0px 25px ;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 1.5em;
                    max-height: 1.5em;
                }
            }
    
            .title{
                display: flex;
                align-items: center;
                height: 50px;
                width: 300px;
                background-color: rgba(30, 30, 30, 0.7);
                backdrop-filter: blur(2px);
                border-radius: 0px 25px 25px 0px;
                h3{
                    padding-left: 5em;
                    transition: ease-in-out 300ms;
                }
                transition: ease-in-out 300ms;
    
                
            }
            .title:hover{
                background-color: rgba(50, 50, 50, 0.5);
                h3{
                    padding-left: 6em;
                }
            }
        }


    }

}


//  --------- animation -----------------------


  
.yt{
    position: relative;
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}
.ig{
    position: relative;
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.git{
    position: relative;
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}
.med{
    position: relative;
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

header{
    opacity: 0;
    filter: blur(10px);
    transition: opacity 800ms ease-in-out, filter 800ms ease-in-out;
}   